<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372229096374-dh4u136drrr7c3njvu3qkjfds1up6bcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372229096374-dh4u136drrr7c3njvu3qkjfds1up6bcc</string>
	<key>API_KEY</key>
	<string>AIzaSyDYmIg4B3rWWfV4jZklE_DSkXP2W-lOky8</string>
	<key>GCM_SENDER_ID</key>
	<string>372229096374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikTokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-aca8d</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-aca8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372229096374:ios:3c554d658fba7688753717</string>
	<key>DATABASE_URL</key>
	<string>https://tiktokclone-aca8d.firebaseio.com</string>
</dict>
</plist>